<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        table,
        th,
        td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
<div style="float: right">
        <button onclick="setLang('uz')">UZ</button>
        <button onclick="setLang('en')">EN</button>
        <button onclick="setLang('ru')">RU</button>
</div>

<table class="table", style="width: auto">
    <thead>
        <th>#</th>
        <th>Mamlakat</th>
        <th>Poytaxt</th>
    </thead>
    <tbody>
        {% for capitals in object_list %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ capitals.country }}</td>
                <td>{{ capitals.capital }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function setLang(lang) {
        const Http = new XMLHttpRequest();
        const url='/setLang/' + lang;
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = (e) => {
            location.reload();
        }
    }
    </script>
</body>
</html>