<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News List</title>
  </head>
  <body>
    <a href=" {% url 'home' %}">home</a>
    <h1>Yangiliklar</h1>
    {% for news in data %}
    <h2>
      {{news.id}}. {{news.news_title}}
      <sup style="font-size: 10px">{{news.news_date}}</sup>
    </h2>
    <h3>{{news.news_desc}}</h3>
    <p>{{news.news_text}}</p>
    {% endfor %}
  </body>
</html>
